html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;   
}

#sticky-footer {
  flex-shrink: none;
}

/* Other Classes for Page Styling */

body {
  background: #aaaaaa;
  background: linear-gradient(to left, #e70782c2, #14e7a8);
}